#one {
    position:relative;
    padding:0 0 0 20px;
    margin:0 20px;
    background:#ddd;
    direction: rtl;
    width: 200px;
}
#file {
    height:30px;
    margin:0;
    padding-right: 58px;
    width: 87px;
}
#two {
    position:relative;
    bottom:2px;
    left:183px;
    width:24px;
    height:23px;
}